#root {
  max-width: 1280px;
  margin: 0 auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* mejor que height */
  width: 100%;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 10px; /* espacio entre elementos */
}

.login-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
}

.login-button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}